
nav.navbar.navbar-toggleable-sm.fixed-top.navbar-inverse.bg-inverse
    button.navbar-toggler.navbar-toggler-right((click)='isCollapsed = !isCollapsed', type='button', aria-controls='navbar', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(routerLink='/', (click)='isCollapsed = !isCollapsed') TV tracker
    .navbar-collapse([ngbCollapse]="isCollapsed")
      ul.navbar-nav.mr-auto
        li.nav-item(routerLinkActive='active', *ngIf='_userService.isAuthenticated()')
          a.nav-link(routerLink='/subscribed', (click)='isCollapsed = true') Subscribed shows
        li.nav-item(routerLinkActive='active', *ngIf='_userService.isAuthenticated()')
          a.nav-link(routerLink='/schedule', (click)='isCollapsed = true') Schedule
        li.nav-item(routerLinkActive='active')
          a.nav-link(routerLink='/search', (click)='isCollapsed = true') Search
      ul.nav.navbar-nav.float-xs-right(*ngIf='!_userService.isAuthenticated()')
        li.nav-item
          a.nav-link(routerLink='/login', (click)='isCollapsed = true') Login
        li.nav-item
          a.nav-link(routerLink='/signup', (click)='isCollapsed = true') Sign up
      ul.nav.navbar-nav.float-xs-right(*ngIf='_userService.isAuthenticated()')
        li.nav-item
          a.nav-link(routerLink='/', (click)='_userService.logout(); isCollapsed = true') Logout
